enabled=True
info_keys='num_ctx_switches','cpu_percent','cpu_times','io_counters','num_threads','num_fds','memory_percent','memory_info'
[process]
[[firefox]]
exe=^\/usr\/lib\/firefox\/firefox
[[skype]]
exe=^\/usr\/share\/skypeforlinux\/skypeforlinux
